lang_portal/backend_python/config/*
lang_portal/backend_python/internal/*
lang_portal/backend_python/venv/*
lang_portal/backend_python/logs/debug.log
lang_portal/backend_python/logs/*
*.log
lang_portal/frontend/node_modules/*

