lang_portal/backend_python/config/*
lang_portal/backend_python/internal/*
lang_portal/backend_python/venv/*
lang_portal/backend_python/logs/debug.log
lang_portal/backend_python/logs/*
*.log
lang_portal_frontend/node_modules/
lang_portal_frontend/node_modules/.vite/deps_temp_*/
**/__pycache__/
**/data/*
**/.venv/*
opea-comps/huggingface/token
opea-comps/huggingface/hub/*
opea-comps/.env
lang_portal_frontend/node_modules/
# Environment variables
*/.env
.env
lang_portal.7z
lang_portal_backend/chroma_db/*
opea-comps/docsum_service/audio_cache/*
opea-comps/docsum_service/credentials/google_credentials.json
lang_portal_backend/credentials/google_credentials.json
lang_portal_backend/audio_cache/*
lang_portal_backend/vector_store/index/*
lang_portal_backend/transcript_cache/*
lang_portal_backend/vector_store/chroma-embeddings.parquet
